header {
  background-color: rgb(0, 0, 200);
  font-family: serif;
  color: rgb(255, 255, 255);
  padding: 10px;
}

h1 {
  color: white;
  text-align: left;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

img {
  max-width: 100%;
  height: auto;
}

.flex-item {
  min-width: 30%;
  max-width: 30%;
  padding: 5px;
}

.dog-label {
  margin: 1px;
  padding: 1px;
}

.flex-container > img {
  max-width: 20%;
  height: auto;
  padding: 5px;
}

.flex-item > ul {
  list-style-type: none;
}

.flex-item > ul > li {
  background-color: rgba(100, 188, 245, 1);
  display: inline-block;
  padding: 3px;
  border-radius: 14px;
  margin: 2px;
}

#flex-footer-1 {
  background: linear-gradient(
      rgba(178, 102, 178, 0.5),
      rgba(178, 102, 178, 0.5)
    ),
    url("../images/donate.jpg");
  min-height: 200px;
}

#flex-footer-2 {
  background: linear-gradient(
      rgba(178, 102, 178, 0.5),
      rgba(178, 102, 178, 0.5)
    ),
    url("../images/volunteer.jpg");
  min-height: 200px;
}

#flex-footer-3 {
  background: linear-gradient(
      rgba(178, 102, 178, 0.5),
      rgba(178, 102, 178, 0.5)
    ),
    url("../images/location.png");
  min-height: 200px;
}
